<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        bootstrap="./Bootstrap.php"
        colors="true"
        backupGlobals="false"
        >
    <testsuites>
        <testsuite name="Polyfilled Mongo Test Suite">
            <directory>./MongoTest/</directory>
        </testsuite>
        <testsuite name="Mongofill Test Suite">
            <directory>./MongofillTest/</directory>
        </testsuite>
    </testsuites>
</phpunit>