<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        bootstrap="tests/bootstrap.php"
        colors="true"
        backupGlobals="false"
        >
    <testsuites>
        <testsuite name="Mongofill Integration Test Suite">
            <directory>./tests/Mongofill/Tests/Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
